<div class="row">
  <% @cards.each do |card| %>
    <div class="col-md-4">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= card.id %>" aria-expanded="true" aria-controls="collapseOne"><h3 class="panel-title"><%= card.number %><span class="arrow pull-right"><i class="fa fa-chevron-circle-down"></i></span><span class="arrow pull-right"><i class="fa fa-chevron-circle-up hidden"></i></span></h3></a>
          </div>
          <ul class="list-group-collapse collapse" id="collapse<%= card.id %>" role="tabpanel" aria-labelledby="headingOne">
            <li class="list-group-item"><em>Valid Thru</em> <%= card.expirationDate.strftime("%b %d, %Y") %></li>
            <li class="list-group-item"><em>Date Received</em> <%= card.expirationDate.strftime("%b %d, %Y") %></li>
            <li class="list-group-item light-purple">
              <i class="fa fa-times-circle fa-fw"></i>&nbsp;&nbsp; <%= best_in_place card, :inTransitTo, :nil => 'Give this card to someone?', :classes => 'name' %>
            </li>
            <% if card.active %>
              <li class="list-group-item default"><i class="fa fa-plus-circle fa-fw"></i>&nbsp;&nbsp;
            <% else %>
              <li class="list-group-item default red"><i class="fa fa-times-circle fa-fw"></i>&nbsp;&nbsp;
            <% end %>
                <%= best_in_place card, :active, as: :checkbox, collection: {false: "This card is disbaled. Activate it?", true: "This card is active. Disable it?"}, :classes => 'highlight_on_success' %>
              </li>
            
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.highlight_on_success').bind("ajax:success", function(){$(this).closest('li').toggleClass('red');});
  $('.name').bind("ajax:success", function(){$(this).closest('i').append('<em>In transit to</em>');});
  $(document).ready(function(){    
      $(".panel-title").on('click', function () {
         $(this).children().children().first().toggleClass("hidden");
         $(this).children().children().eq(1).toggleClass("hidden")
      });

      // $('.panel-title').on('click', function () {
      //    $(this).children().children().removeClass("fa fa-chevron-circle-up").addClass("fa fa-chevron-circle-down");
      // });
  });

</script>

<em>In transit to</em>