<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :expirationDate %><br>
    <%= f.date_select :expirationDate %>
  </div>
  <div class="field">
    <%= f.label :dateReceived %><br>
    <%= f.date_select :dateReceived %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :inTransitTo %><br>
    <%= f.text_field :inTransitTo %>
  </div>
  <div class="field">
    <%= f.label :transferActive %><br>
    <%= f.check_box :transferActive %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
