<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @card.expirationDate %>
</p>

<p>
  <strong>Datereceived:</strong>
  <%= @card.dateReceived %>
</p>

<p>
  <strong>Active:</strong>
  <%= @card.active %>
</p>

<p>
  <strong>Intransitto:</strong>
  <%= @card.inTransitTo %>
</p>

<p>
  <strong>Transferactive:</strong>
  <%= @card.transferActive %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
